@model WebBanHangOnline.Models.TbProductCategory
@{
    ViewData["Title"] = "Thêm danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin bài viết</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <!--gửi form tới action Add trong Category và thực thi action đó-->
                <!--asp-area="admin" asp-action="Add" asp-controller="Category"-->
                <!--Form muốn tải ảnh lên controller phải có attribute enctype="multipart/form-data"-->
                <form method="post" enctype="multipart/form-data">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group mb-3">
                            <label asp-for="@Model.Title" class="ms-2">Tên danh mục</label>
                            <input asp-for="@Model.Title" class="form-control " placeholder="Tên danh mục" autofocus>
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                        <div class="d-flex mb-3">
                            <label asp-for="@Model.IsActive" class="">Hiển thị</label>
                            <input type="checkbox" asp-for="@Model.IsActive" class="mx-3" style="transform:scale(1.3)" placeholder="" checked>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="@Model.SeoTitle">SeoTitle</label>
                            <input asp-for="@Model.SeoTitle" class="form-control" placeholder="SeoTitle">
                            <span asp-validation-for="@Model.SeoTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="@Model.SeoDescription">SeoDescription</label>
                            <input asp-for="@Model.SeoDescription" class="form-control" placeholder="SeoDescription">
                            <span asp-validation-for="@Model.SeoDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label asp-for="@Model.SeoKeyWords">SeoKeyWords</label>
                            <input asp-for="@Model.SeoKeyWords" class="form-control" placeholder="SeoKeyWords">
                            <span asp-validation-for="@Model.SeoKeyWords" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-primary" href="/admin/productcategory">Quay lại</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->







@section scripts {
    <script>

    </script>

    @{
        // Xác thực tự động ở phía máy khách
        <partial name="_ValidationScriptsPartial" />
    }


}
